*
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.go
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh
!*.csv

!Makefile*
!Dockerfile*
!CMakeLists.txt

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so

cmake-build-debug/